services:
  app:
    build: .
    ports:
      - "7860:7860"
    volumes:
      - .:/app                    # весь проект
      - ./models:/app/models      # явно монтируем папку с моделями
    environment:
      - CUDA_VISIBLE_DEVICES=0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
